In [3]:
import pandas as pd
import numpy as np

## For ml-lab-serveer1
ROOT_FOLDER = "/home/yingjie/Year_3/"

## For NZXT station
# ROOT_FOLDER = "/home/yingjie_niu/Year_3/"

### Define Positive/Negative confusion matrix function

In [4]:
def pn_confusion_matrix(output_folder, dataset_name, label="rmean5"):
    """
    Calculate the Positive/Negative -- Increase/Decrease confusion matrix
    """
    model = output_folder.split("/")[-2]
    
    last_status = pd.read_csv(output_folder+dataset_name+"_last.csv")
    pred= pd.read_csv(output_folder+dataset_name+"_pred.csv")
    true = pd.read_csv(output_folder+dataset_name+"_true.csv")

    df = pd.concat([
        pred[label+'_'+dataset_name+'_pred'],
        true[label+'_'+dataset_name+'_true'],
        last_status[label+'_'+dataset_name+'_last'],
        ], axis=1)
    df.columns = ['pred', 'true', 'last']

    # denominator: Number of rows where "last"=0 and "true"=1
    denominator = len(df[(df['last'] == 0) & (df['true'] == 1)])
    # numerator: Number of rows where "last"=0, "true"=1, and "pred">0.5
    numerator = len(df[(df['last'] == 0) & (df['true'] == 1) & (df['pred'] > 0.5)])
    # last negative next increase accuracy
    ln_ni = numerator/ denominator
    print("LN_N+: ", numerator, denominator)
    
    # denominator: Number of rows where "last"=0 and "true"=0
    denominator = len(df[(df['last'] == 0) & (df['true'] == 0)])
    # numerator: Number of rows where "last"=0, "true"=0, and "pred"<0.5
    numerator = len(df[(df['last'] == 0) & (df['true'] == 0) & (df['pred'] < 0.5)])
    # last negative next decrease accuracy
    ln_nd = numerator/ denominator
    print("LN_N-: ", numerator, denominator)

    # denominator: Number of rows where "last"=1 and "true"=1
    denominator = len(df[(df['last'] == 1) & (df['true'] == 1)])
    # numerator: Number of rows where "last"=1, "true"=1, and "pred">0.5
    numerator = len(df[(df['last'] == 1) & (df['true'] == 1) & (df['pred'] > 0.5)])
    # last negative next increase accuracy
    lp_ni = numerator/ denominator
    print("LP_N+: ", numerator, denominator)

    # denominator: Number of rows where "last"=1 and "true"=0
    denominator = len(df[(df['last'] == 1) & (df['true'] == 0)])
    # numerator: Number of rows where "last"=1, "true"=0, and "pred"<0.5
    numerator = len(df[(df['last'] == 1) & (df['true'] == 0) & (df['pred'] < 0.5)])
    # last negative next decrease accuracy
    lp_nd = numerator/ denominator
    print("LP_N-: ", numerator, denominator)

    print("Dataset: ", dataset_name, " Model: ", model)
    print("LN_N+ : ", ln_ni, " LP_N+: ", lp_ni)
    print("LN_N- : ", ln_nd, " LP_N-: ", lp_nd)

    return df

## ACL2018 Dataset

### LSTM model prediction output review

In [5]:
output_folder = ROOT_FOLDER+"GNN_longterm/code/notebook/lstm/"
dataset_name = "ACL2018"

df = pn_confusion_matrix(output_folder=output_folder, dataset_name=dataset_name, label="rmean5")

LN_N+:  611 801
LN_N-:  764 1039
LP_N+:  719 893
LP_N-:  735 1067
Dataset:  ACL2018  Model:  lstm
LN_N+ :  0.762796504369538  LP_N+:  0.8051511758118701
LN_N- :  0.7353224254090471  LP_N-:  0.6888472352389878

In [6]:
df

          pred  true  last
0     0.341698   0.0   1.0
1     0.479939   1.0   0.0
2     0.611213   1.0   1.0
3     0.742993   1.0   0.0
4     0.212359   0.0   0.0
...        ...   ...   ...
3795  0.381150   0.0   1.0
3796  0.546671   0.0   0.0
3797  0.766435   0.0   1.0
3798  0.457144   1.0   1.0
3799  0.542353   0.0   0.0

[3800 rows x 3 columns]

In [8]:
df = pn_confusion_matrix(output_folder=output_folder, dataset_name=dataset_name, label="rmean10")

LN_N+:  487 630
LN_N-:  724 996
LP_N+:  734 911
LP_N-:  851 1263
Dataset:  ACL2018  Model:  lstm
LN_N+ :  0.773015873015873  LP_N+:  0.8057080131723381
LN_N- :  0.7269076305220884  LP_N-:  0.6737925574030087

In [9]:
df = pn_confusion_matrix(output_folder=output_folder, dataset_name=dataset_name, label="rmean21")

LN_N+:  369 467
LN_N-:  713 1027
LP_N+:  495 633
LP_N-:  1069 1673
Dataset:  ACL2018  Model:  lstm
LN_N+ :  0.7901498929336188  LP_N+:  0.7819905213270142
LN_N- :  0.6942551119766309  LP_N-:  0.6389719067543336

### NGAT model prediction output review

In [10]:
output_folder = ROOT_FOLDER+"GNN_longterm/code/notebook/ngat/"
dataset_name = "ACL2018"

df = pn_confusion_matrix(output_folder=output_folder, dataset_name=dataset_name, label="rmean5")

LN_N+:  622 801
LN_N-:  831 1039
LP_N+:  731 893
LP_N-:  770 1067
Dataset:  ACL2018  Model:  ngat
LN_N+ :  0.7765293383270911  LP_N+:  0.8185890257558791
LN_N- :  0.7998075072184793  LP_N-:  0.7216494845360825

In [11]:
df

          pred  true  last
0     0.345610   0.0   1.0
1     0.591588   1.0   0.0
2     0.464041   1.0   1.0
3     0.757062   1.0   0.0
4     0.153381   0.0   0.0
...        ...   ...   ...
3795  0.439401   0.0   1.0
3796  0.536941   0.0   0.0
3797  0.801366   0.0   1.0
3798  0.488728   1.0   1.0
3799  0.620085   0.0   0.0

[3800 rows x 3 columns]

In [12]:
df = pn_confusion_matrix(output_folder=output_folder, dataset_name=dataset_name, label="rmean10")

LN_N+:  465 630
LN_N-:  794 996
LP_N+:  750 911
LP_N-:  934 1263
Dataset:  ACL2018  Model:  ngat
LN_N+ :  0.7380952380952381  LP_N+:  0.823271130625686
LN_N- :  0.7971887550200804  LP_N-:  0.7395091053048297

In [13]:
df = pn_confusion_matrix(output_folder=output_folder, dataset_name=dataset_name, label="rmean21")

LN_N+:  355 467
LN_N-:  711 1027
LP_N+:  491 633
LP_N-:  1091 1673
Dataset:  ACL2018  Model:  ngat
LN_N+ :  0.7601713062098501  LP_N+:  0.7756714060031595
LN_N- :  0.6923076923076923  LP_N-:  0.6521219366407651

### NGAT model prediction output save file

In [34]:
import torch
import pandas as pd

def create_dataframe(index_path, pred_mean_path, pred_std_path, label_mean_path, label_std_path, valid_firms_path, dates_path, price_dir):
    """
    将模型预测值和真实值整合到一个DataFrame中，并添加close price列。

    Args:
    index_path (str): index文件路径
    pred_mean_path (str): pred_mean文件路径
    pred_std_path (str): pred_std文件路径
    label_mean_path (str): label_mean文件路径
    label_std_path (str): label_std文件路径
    valid_firms_path (str): valid_firms文件路径
    dates_path (str): dates文件路径
    price_dir (str): 存储价格文件的目录路径

    Returns:
    pd.DataFrame: 整合后的DataFrame
    """
    # 加载数据
    index = torch.load(index_path)
    pred_mean = torch.load(pred_mean_path)
    pred_std = torch.load(pred_std_path)
    label_mean = torch.load(label_mean_path)
    label_std = torch.load(label_std_path)
    valid_firms = torch.load(valid_firms_path)
    dates = torch.load(dates_path)

    # 截取需要的日期
    truncated_dates = dates[index[0]:]

    # 初始化DataFrame
    data = []

    # 整合数据
    for day in range(index.shape[0]):
        for firm_idx, firm in enumerate(valid_firms):
            date_str = truncated_dates[day]
            price_file = pd.read_csv(f"{price_dir}/{firm}.csv")
            close_price = price_file[price_file['Date'] == date_str]['Close'].values[0] if not price_file[price_file['Date'] == date_str].empty else None
            
            row = {
                'Date': date_str,
                'Ticker': firm,
                'Close_Price': close_price,
                'Rmean_1d': pred_mean[day, firm_idx, 0].item(),
                'Rmean_5d': pred_mean[day, firm_idx, 1].item(),
                'Rmean_10d': pred_mean[day, firm_idx, 2].item(),
                'Rmean_21d': pred_mean[day, firm_idx, 3].item(),
                'Volatility_5d': pred_std[day, firm_idx, 0].item(),
                'Volatility_10d': pred_std[day, firm_idx, 1].item(),
                'Volatility_21d': pred_std[day, firm_idx, 2].item(),
                'Label_Rmean_1d': label_mean[day, firm_idx, 0].item(),
                'Label_Rmean_5d': label_mean[day, firm_idx, 1].item(),
                'Label_Rmean_10d': label_mean[day, firm_idx, 2].item(),
                'Label_Rmean_21d': label_mean[day, firm_idx, 3].item(),
                'Label_Volatility_5d': label_std[day, firm_idx, 0].item(),
                'Label_Volatility_10d': label_std[day, firm_idx, 1].item(),
                'Label_Volatility_21d': label_std[day, firm_idx, 2].item()
            }
            data.append(row)

    df = pd.DataFrame(data)
    return df

# 使用示例
index_path = "../index_std.pt"
pred_mean_path = "../pred_mean.pt"
pred_std_path = "../pred_std.pt"
label_mean_path = "../label_mean.pt"
label_std_path = "../label_std.pt"
valid_firms_path = "../valid_firms.pt"
dates_path = "../valid_days.pt"
price_dir = "/home/yingjie/Year_3/GNN_longterm/data/raw/ACL2018/price/raw"

df = create_dataframe(index_path, pred_mean_path, pred_std_path, label_mean_path, label_std_path, valid_firms_path, dates_path, price_dir)
df.head()

,Date,Ticker,Close_Price,Rmean_1d,Rmean_5d,Rmean_10d,Rmean_21d,Volatility_5d,Volatility_10d,Volatility_21d,Label_Rmean_1d,Label_Rmean_5d,Label_Rmean_10d,Label_Rmean_21d,Label_Volatility_5d,Label_Volatility_10d,Label_Volatility_21d
0,2015-10-21,BA,141.190002,0.059031,0.070663,0.149464,0.049696,1.042288,1.094680,1.174444,1.0,0.0,1.0,0.0,1.333678,0.989194,1.039172
1,2015-10-21,SNY,49.150002,0.569068,0.428416,0.456077,0.241471,1.360345,1.441561,1.535386,1.0,1.0,1.0,0.0,2.931439,2.088739,1.963267
2,2015-10-21,IEP,77.000000,0.935007,0.757451,0.376710,0.048661,1.058961,1.132171,1.227124,1.0,1.0,1.0,0.0,1.530476,1.148765,1.744210
3,2015-10-21,T,33.599998,0.702539,0.383113,0.285442,0.075049,1.021428,1.080847,1.165412,1.0,0.0,0.0,0.0,1.544829,1.155423,1.104587
4,2015-10-21,HON,98.246521,0.309890,0.502436,0.543051,0.321424,1.111305,1.167289,1.250740,1.0,1.0,1.0,0.0,2.677724,1.893211,1.449816

In [42]:
df.to_excel("Prediction.xlsx")

In [52]:
import pandas as pd
import os
import torch

def create_price_dataframe(price_dir, valid_firms_path):
    """
    根据price_dir和valid_firms读取每一个ticker的所有close price数据，并将数据日期对齐后整合到一个DataFrame中。

    Args:
    price_dir (str): 存储价格文件的目录路径
    valid_firms (list): 存储公司ticker的列表

    Returns:
    pd.DataFrame: 整合后的DataFrame
    """
    valid_firms = torch.load(valid_firms_path)
    # 初始化一个空的DataFrame用于存储所有公司的close price数据
    all_prices_df = pd.DataFrame()

    for firm in valid_firms:
        # 读取每个公司的价格文件
        price_file_path = os.path.join(price_dir, f"{firm}.csv")
        price_df = pd.read_csv(price_file_path, usecols=['Date', 'Close'])
        
        # 将Date列转换为datetime类型
        price_df['Date'] = pd.to_datetime(price_df['Date'])
        
        # 设置Date列为索引
        price_df.set_index('Date', inplace=True)
        
        # 重命名Close列为公司ticker
        price_df.rename(columns={'Close': firm}, inplace=True)
        
        # 将当前公司的价格数据合并到总的DataFrame中
        if all_prices_df.empty:
            all_prices_df = price_df
        else:
            all_prices_df = all_prices_df.join(price_df, how='outer')

    # 重置索引
    all_prices_df.reset_index(inplace=True)

    all_prices_df['Date'] = all_prices_df['Date'].dt.strftime('%Y-%m-%d')
    
    return all_prices_df

# 使用示例
price_dir = "/home/yingjie/Year_3/GNN_longterm/data/raw/ACL2018/price/raw"
valid_firms_path = "../valid_firms.pt"

price_df = create_price_dataframe(price_dir, valid_firms_path)
price_df.head()

,Date,BA,SNY,IEP,T,HON,NGG,PPL,BHP,UN,...,FB,UPS,TOT,WMT,MO,ORCL,MCD,CMCSA,PTR,KO
0,2012-09-04,70.870003,40.779999,39.656029,36.810001,57.215145,59.847160,27.578754,64.970001,34.910000,...,17.730000,73.699997,49.639999,73.510002,34.400002,31.570000,89.050003,16.764999,117.860001,37.279999
1,2012-09-05,71.919998,40.980000,40.003975,36.930000,57.065941,60.163757,27.606695,63.480000,34.930000,...,18.580000,71.940002,49.490002,73.550003,34.250000,32.070000,89.059998,16.855000,117.110001,37.509998
2,2012-09-06,72.820000,42.279999,40.451336,37.439999,58.707195,60.796944,27.206194,65.250000,35.669998,...,18.959999,71.940002,51.070000,74.809998,34.590000,32.630001,90.669998,17.325001,119.019997,38.150002
3,2012-09-07,72.889999,42.400002,39.656029,37.299999,59.582531,60.556770,27.234137,67.699997,35.520000,...,18.980000,72.599998,51.840000,73.820000,34.270000,32.599998,91.019997,17.230000,120.519997,37.900002
4,2012-09-10,71.080002,41.700001,39.646088,37.419998,59.244331,59.454147,27.131681,67.139999,34.950001,...,18.809999,73.050003,51.369999,73.510002,34.450001,32.310001,91.300003,17.084999,119.669998,37.660000

In [54]:
price_df.to_excel('Prices.xlsx')

## SPNews Dataset

### LSTM model prediction output review

In [14]:
output_folder = ROOT_FOLDER+"/GNN_longterm/code/notebook/lstm/"
dataset_name = "SPNews"

df = pn_confusion_matrix(output_folder=output_folder, dataset_name=dataset_name, label="rmean5")

LN_N+:  1592 2379
LN_N-:  2124 2537
LP_N+:  1511 2433
LP_N-:  2359 2835
Dataset:  SPNews  Model:  lstm
LN_N+ :  0.6691887347625053  LP_N+:  0.6210439786272092
LN_N- :  0.8372093023255814  LP_N-:  0.8320987654320988

In [15]:
df = pn_confusion_matrix(output_folder=output_folder, dataset_name=dataset_name, label="rmean10")

LN_N+:  1504 2461
LN_N-:  2121 2610
LP_N+:  1076 1906
LP_N-:  2626 3207
Dataset:  SPNews  Model:  lstm
LN_N+ :  0.6111336854937017  LP_N+:  0.5645330535152151
LN_N- :  0.8126436781609195  LP_N-:  0.8188338010601809

In [16]:
df = pn_confusion_matrix(output_folder=output_folder, dataset_name=dataset_name, label="rmean21")

LN_N+:  1678 2667
LN_N-:  2741 3445
LP_N+:  648 1106
LP_N-:  2354 2966
Dataset:  SPNews  Model:  lstm
LN_N+ :  0.6291713535808025  LP_N+:  0.5858951175406871
LN_N- :  0.7956458635703919  LP_N-:  0.7936614969656103

### NGAT model prediction output review

In [17]:
output_folder = ROOT_FOLDER+"GNN_longterm/code/notebook/ngat/"
dataset_name = "SPNews"

df = pn_confusion_matrix(output_folder=output_folder, dataset_name=dataset_name, label="rmean5")

LN_N+:  1734 2379
LN_N-:  2040 2537
LP_N+:  1648 2433
LP_N-:  2220 2835
Dataset:  SPNews  Model:  ngat
LN_N+ :  0.7288776796973518  LP_N+:  0.6773530620632964
LN_N- :  0.8040993299172251  LP_N-:  0.783068783068783

In [18]:
df = pn_confusion_matrix(output_folder=output_folder, dataset_name=dataset_name, label="rmean10")

LN_N+:  1694 2461
LN_N-:  2035 2610
LP_N+:  1269 1906
LP_N-:  2522 3207
Dataset:  SPNews  Model:  ngat
LN_N+ :  0.6883380739536774  LP_N+:  0.6657922350472193
LN_N- :  0.7796934865900383  LP_N-:  0.7864047396320549

In [19]:
df = pn_confusion_matrix(output_folder=output_folder, dataset_name=dataset_name, label="rmean21")

LN_N+:  1844 2667
LN_N-:  2667 3445
LP_N+:  642 1106
LP_N-:  2380 2966
Dataset:  SPNews  Model:  ngat
LN_N+ :  0.6914135733033371  LP_N+:  0.5804701627486437
LN_N- :  0.7741654571843251  LP_N-:  0.8024275118004046

In [3]:
(44.8+11.8+117+117+36+11.8+2.5+50)/2 + 120

315.45000000000005

In [4]:
(117*2)*0.75+244+50

469.5

In [5]:
71/97

0.7319587628865979